<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7668456/6556592/css/fonts.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
	<a href="#maincontent" class="skip-to-main-content-link">Skip to main content</a>
	
	<link rel="stylesheet" href="/css/theme.css">
	
	<%- partial("../_header") %>
	<%- partial("../_nav-bar") %>
	
	<%- yield %>

	<%- partial("../_footer") %>
	
</body>
</html>
